<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link btn btn-dark" href="/products">
          <i class="fas fa-list"></i> Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-dark" href="/customers">
          <i class="fas fa-users"></i> Customers
        </a>
      </li>

    </ul>

  </div>
</nav>

<router-outlet></router-outlet>
